.container-fluid{
    background-color: black;
    
}
a{
    color: white;
}


.i2{
    height: 50px;
    width: 150px;
}
.s1{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
   
   
    font-size: 17px;
    border: none;
    cursor: pointer;   
}
.nav navbar-nav{
    float: right;

}
.a1{
    color: white;
    cursor: context-menu;
}
.a1:hover{
    background-color: grey;
  }