
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="i2" src="assets/Amazon-Logo-Black.jpg">
        <!--<a class="navbar-brand" href="#">Amazon</a>
        <img class="i1" src="assets/amazon.jfif">-->
       </div>
    
      <ul class="nav navbar-nav">
        <li class="a1"><i class="fa fa-map-marker" style="font-size:24px;color:white;" aria-hidden="true"></i>Deliver <br> to India</li>
        <li class="active"><a href="#">Today's Deals</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Registry</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Sell</a></li>
        </ul>
      
      <span class="s1"><input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button></span>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
          </div>
   </nav>
  
   
